@use '../index' as *;
@include m(600) {
    .section-pourquoi{
         --wp--preset--spacing--custom:.5rem;  
    }
}
@include p(600) {



.section-pourquoi{
	.wp-block-image{
	display:flex;
		justify-content:center;
	}
 --wp--preset--spacing--custom:105px;  
        &__columns{
            gap:0;
            
        }
    &__column{
        &--1,&--3{
            position: relative;
            z-index: 2;
            }

    &--2{
            transform: scale(1.2);
            position: relative;
            z-index: 1;
            }
    }
    &__card{
        &--1{
            max-width: 342px;
            justify-self: right;
        }
            &--2{
            max-width: 355px;
        }
            &--3{
            justify-self: right;
            max-width: 337px;
        }
        &--4{
            max-width: 364px;
        }
            &--5{
            max-width: 289px;
        justify-self: right;
        }
            &--6{
            max-width: 356px;
        }
    }
}
     
}
