.wp-block-post-excerpt__more-link[href="#"]{
    display:none;
}
.wp-block-post-excerpt__more-link:not([href="#"]){
    &:after{
        content:"";
        display: inline-block;
        height:.9rem;
        width: .9rem;
        margin-left: 0.5rem;
        background-size: contain;
        background-image: url(assets/images/pictos/out.svg);
    }
}