.wp-block-post-excerpt.no-link > .wp-block-post-excerpt__more-text,
.wp-block-post-excerpt__more-link[href="#"]{
    display:none;
}
.wp-block-post-excerpt__more-link:not([href="#"]){
    &:after{
        content:"";
        display: inline-block;
        height:.9rem;
        width: .9rem;
        margin-left: 0.5rem;
        background-size: contain;
        background-image: url(assets/images/pictos/out.svg);
    }
}
.wp-block-post-excerpt__more-link{
    font-weight: 700;
    &:hover{
        color: var(--wp--preset--color--contrast);
        &:after{
                background-image: url(assets/images/pictos/out-contrast.svg);
        }
    }
}