@media (max-width: 1400px) {
  header .wp-block-image {
    max-width: clamp(9.375rem, 2.5665rem + 10.6383vw, 11.875rem);
  }
}

.wp-block-group.menu-container {
  max-width: calc(100% - 5rem) !important;
  margin: 0 auto !important;
  border-radius: 100px;
  padding: 0.5rem 1.5rem 0.5rem 0.75rem !important;
}
@media (max-width: 1200px) {
  .wp-block-group.menu-container {
    display: grid;
    grid-template-columns: 7.5rem 1fr 2.5rem;
  }
  .wp-block-group.menu-container > *:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
  }
  .wp-block-group.menu-container > *:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
    align-items: center;
    justify-content: flex-end;
  }
  .wp-block-group.menu-container > *:nth-child(3) {
    grid-column: 2;
    grid-row: 1;
    align-items: center;
    justify-content: flex-end;
  }
}

.section-wide-grid {
  --section-wide-grid-padding: clamp(1.5rem, -9.3rem + 19.2vw, 7.5rem);
  display: grid;
  grid-template-rows: auto;
  max-width: 1920px;
  -moz-column-gap: 0 !important;
       column-gap: 0 !important;
  row-gap: 0 !important;
  margin: 0 auto;
  grid-template-columns: var(--section-wide-grid-padding) 1fr var(--section-wide-grid-padding) !important;
}
.section-wide-grid > * {
  grid-column: 2;
}
.section-wide-grid > .alignfull {
  grid-column: 1/-1;
}

.section-grid {
  grid-template-rows: auto;
  --section-wide-grid-padding: clamp(1.5rem, -9.3rem + 19.2vw, 7.5rem);
  display: grid;
  max-width: 1920px;
  -moz-column-gap: 0;
       column-gap: 0;
  margin: 0 auto;
  grid-template-columns: var(--section-wide-grid-padding) var(--section-wide-grid-padding) 1fr var(--section-wide-grid-padding) var(--section-wide-grid-padding) !important;
}
.section-grid > * {
  grid-column: 3;
}
.section-grid > .alignwide {
  grid-column: 2/5;
}
.section-grid > .alignfull {
  grid-column: 1/-1;
}

.galerie-polaroid {
  gap: 0 !important;
}
.galerie-polaroid > figure {
  position: relative;
}
.galerie-polaroid > figure:hover {
  z-index: 10;
  transition: all 1s;
  transform: rotate(2deg) !important;
}
.galerie-polaroid > figure {
  border: 0.75rem solid white;
}
.galerie-polaroid > figure:nth-of-type(1) {
  transform: rotate(7.024deg) translateX(5rem);
}
.galerie-polaroid > figure:nth-of-type(2) {
  transform: rotate(-2.996deg) translateX(3.5rem);
}
.galerie-polaroid > figure:nth-of-type(3) {
  transform: rotate(8.471deg) translateX(-3.5rem);
}
.galerie-polaroid > figure:nth-of-type(4) {
  transform: rotate(-6.963deg) translateX(-5rem);
}

.grid-404 > * {
  grid-row: 1;
  grid-column: 1;
  vertical-align: center;
  justify-content: center;
  margin: auto;
}
.grid-404 figure {
  mix-blend-mode: darken;
}

.grid-1-1-container {
  display: grid;
  grid-template: 1fr/1fr;
}
.grid-1-1-container .grid-1-1-container__content,
.grid-1-1-container .grid-1-1-container__images {
  grid-column: 1;
  grid-row: 1;
  position: relative;
}

.grid-1-1-container__images {
  grid-template: repeat(3, 1fr)/repeat(9, 1fr) !important;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.grid-1-1-container__images figure:nth-of-type(2) {
  grid-column: 8;
}
.grid-1-1-container__images figure:nth-of-type(3) {
  grid-column: 9;
  grid-row: 2;
}
.grid-1-1-container__images figure:nth-of-type(4) {
  grid-column: 2;
  grid-row: 3;
}
.grid-1-1-container__images figure:nth-of-type(5) {
  grid-column: 8;
  grid-row: 3;
}

.is-style-picto .wp-block-post-terms__separator {
  display: none;
}

@media (max-width: 500px) {
  .bento-information__row,
  .section-bento-2cols__row,
  .section-bento-6-3-2__items {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 0.75rem;
  }
  .bento-information__row > div,
  .section-bento-2cols__row > div,
  .section-bento-6-3-2__items > div {
    grid-column: unset;
  }
}
@media (min-width: 500px) and (max-width: 1200px) {
  .bento-information__row,
  .section-bento-2cols__row,
  .section-bento-6-3-2__items {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 1.5rem;
  }
  .bento-information__row > div,
  .section-bento-2cols__row > div,
  .section-bento-6-3-2__items > div {
    grid-column: unset;
  }
  .bento-information__row > div:nth-child(3):last-child,
  .section-bento-2cols__row > div:nth-child(3):last-child,
  .section-bento-6-3-2__items > div:nth-child(3):last-child {
    grid-column: span 2;
  }
}

.wp-block-up-cb-carousel .upcb-button-next, .wp-block-up-cb-carousel .upcb-button-prev {
  padding: 0.5em;
  aspect-ratio: 1/1;
  display: inliine-flex;
  justify-content: center;
  align-items: center;
  background: var(--wp--preset--color--contrast);
  border-radius: 100%;
  width: auto;
  height: 40px;
  color: white;
}

.has-gap-4 {
  gap: var(--wp--preset--spacing--4);
}

.has-gap-8 {
  gap: var(--wp--preset--spacing--8);
}

.has-gap-12 {
  gap: var(--wp--preset--spacing--12);
}

.has-gap-16 {
  gap: var(--wp--preset--spacing--16);
}

.has-gap-24 {
  gap: var(--wp--preset--spacing--24);
}

.has-gap-32 {
  gap: var(--wp--preset--spacing--32);
}

.has-gap-32-40 {
  gap: var(--wp--preset--spacing--32-40);
}

.has-gap-32-48 {
  gap: var(--wp--preset--spacing--32-48);
}

.has-gap-32-72 {
  gap: var(--wp--preset--spacing--32-72);
}

.has-gap-56-120 {
  gap: var(--wp--preset--spacing--56-120);
}

.has-gap-56-160 {
  gap: var(--wp--preset--spacing--56-160);
}

.has-gap-56-200 {
  gap: var(--wp--preset--spacing--56-200);
}

.has-gap-headerheight {
  gap: var(--wp--preset--spacing--headerheight);
}

.has-gap-h-4 {
  gap: var(--wp--preset--spacing--h-4);
}

.has-gap-h-8 {
  gap: var(--wp--preset--spacing--h-8);
}

.has-gap-h-12 {
  gap: var(--wp--preset--spacing--h-12);
}

.has-gap-h-16 {
  gap: var(--wp--preset--spacing--h-16);
}

.has-gap-h-24 {
  gap: var(--wp--preset--spacing--h-24);
}

.has-gap-h-32 {
  gap: var(--wp--preset--spacing--h-32);
}

.has-gap-h-16-40 {
  gap: var(--wp--preset--spacing--h-16-40);
}

.has-gap-h-16-48 {
  gap: var(--wp--preset--spacing--h-16-48);
}

.has-gap-h-16-72 {
  gap: var(--wp--preset--spacing--h-16-72);
}

.has-gap-h-16-120 {
  gap: var(--wp--preset--spacing--h-16-120);
}

.has-gap-h-16-160 {
  gap: var(--wp--preset--spacing--h-16-160);
}

.has-gap-h-16-200 {
  gap: var(--wp--preset--spacing--h-16-200);
}

.has-radius-s {
  border-radius: var(--wp--preset--border-radius--s);
}

.has-img-radius-s img {
  border-radius: var(--wp--preset--border-radius--s);
}

.has-radius-m {
  border-radius: var(--wp--preset--border-radius--m);
}

.has-img-radius-m img {
  border-radius: var(--wp--preset--border-radius--m);
}

.has-radius-l {
  border-radius: var(--wp--preset--border-radius--l);
}

.has-img-radius-l img {
  border-radius: var(--wp--preset--border-radius--l);
}

.has-radius-xl {
  border-radius: var(--wp--preset--border-radius--xl);
}

.has-img-radius-xl img {
  border-radius: var(--wp--preset--border-radius--xl);
}

.has-radius-2xl {
  border-radius: var(--wp--preset--border-radius--2xl);
}

.has-img-radius-2xl img {
  border-radius: var(--wp--preset--border-radius--2xl);
}

.has-radius-full {
  border-radius: var(--wp--preset--border-radius--full);
}

.has-img-radius-full img {
  border-radius: var(--wp--preset--border-radius--full);
}

.has-radius-rounded {
  border-radius: var(--wp--preset--border-radius--rounded);
}

.has-img-radius-rounded img {
  border-radius: var(--wp--preset--border-radius--rounded);
}

.has-aspect-ratio-1-1 {
  aspect-ratio: 1 !important;
}
.has-aspect-ratio-1-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.has-aspect-ratio-4-3 {
  aspect-ratio: 1.3333333333 !important;
}
.has-aspect-ratio-4-3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.has-aspect-ratio-3-2 {
  aspect-ratio: 1.5 !important;
}
.has-aspect-ratio-3-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.has-aspect-ratio-16-9 {
  aspect-ratio: 1.7777777778 !important;
}
.has-aspect-ratio-16-9 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.has-aspect-ratio-21-9 {
  aspect-ratio: 2.3333333333 !important;
}
.has-aspect-ratio-21-9 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.has-aspect-ratio-9-16 {
  aspect-ratio: 0.5625 !important;
}
.has-aspect-ratio-9-16 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.has-aspect-ratio-2-3 {
  aspect-ratio: 0.6666666667 !important;
}
.has-aspect-ratio-2-3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.has-aspect-ratio-3-4 {
  aspect-ratio: 0.75 !important;
}
.has-aspect-ratio-3-4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.has-aspect-ratio-2-1 {
  aspect-ratio: 2 !important;
}
.has-aspect-ratio-2-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.has-aspect-ratio-1-2 {
  aspect-ratio: 0.5 !important;
}
.has-aspect-ratio-1-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.has-translate-y-50 {
  transform: translateY(-50%);
}

.wp-block-group:has(> .has-translate-y-50) {
  position: relative;
}
.wp-block-group:has(> .has-translate-y-50) .has-translate-y-50 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.overflow-clip {
  overflow: clip;
}

.height-full {
  height: 100%;
}

.nowrap {
  white-space: nowrap;
}

:where(.wp-site-blocks) > * {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

header.fixed {
  position: fixed;
  top: 2.5rem;
  left: 0;
  right: 0;
  z-index: 1000;
}

@media (max-width: 1200px) {
  .only-desktop {
    display: none !important;
  }
}

@media (min-width: 600px) {
  .only-mobile {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .only-mobitab {
    display: none !important;
  }
}

.overflow-visible {
  overflow: visible !important;
}
.overflow-visible .swiper {
  overflow: visible !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-x-hidden {
  overflow-x: clip !important;
}

.flex-1 {
  flex: 1;
}

.bg-white {
  background: white;
}

.bg-trip {
  background: #34E0A1;
}

.section-bento-contact__aside {
  flex: 0 0 clamp(36%, (740px - 100vw) * 1000, 100%);
  min-width: 300px;
}

.section-bento-contact__content {
  flex: 1;
  min-width: 300px;
}

.section-pourquoi {
  --wp--preset--spacing--custom:105px;
}
.section-pourquoi__columns {
  gap: 0;
}
.section-pourquoi__column--1, .section-pourquoi__column--3 {
  position: relative;
  z-index: 2;
}
.section-pourquoi__column--2 {
  transform: scale(1.2);
  position: relative;
  z-index: 1;
}
.section-pourquoi__card--1 {
  max-width: 342px;
  justify-self: right;
}
.section-pourquoi__card--2 {
  max-width: 355px;
}
.section-pourquoi__card--3 {
  justify-self: right;
  max-width: 337px;
}
.section-pourquoi__card--4 {
  max-width: 364px;
}
.section-pourquoi__card--5 {
  max-width: 289px;
  justify-self: right;
}
.section-pourquoi__card--6 {
  max-width: 356px;
}

.flex-1 {
  flex: 1;
}/*# sourceMappingURL=editor.css.map */