// Container (max-width) généré par up-extra-alignments
.align-s {
	max-width: 754px;
	@media (min-width: 754px) {
		margin-left: auto;
		margin-right: auto;
	}
}


.align-m {
	max-width: 840px;
	@media (min-width: 840px) {
		margin-left: auto;
		margin-right: auto;
	}
}

.align-medium {
	max-width: 898px;
	@media (min-width: 898px) {
		margin-left: auto;
		margin-right: auto;
	}
}


.align-wide {
	max-width: 1400px;
	@media (min-width: 1400px) {
		margin-left: auto;
		margin-right: auto;
	}
}

.align-ultrawide {
   $ultrawide: min(1240px,100vw, calc(100% - 2 * var(--wp--preset--spacing--clamp-7-5)));
	max-width: $ultrawide;
	margin-left: auto;
	margin-right: auto;	
}
