@use 'index' as *;
html {
    overflow-wrap: break-word;
word-break: keep-all;
overflow-X:clip;
}
header{
    .wp-block-image{
    @include m(600){
        width:calc(170px) !important;
    }
    @include b(600, 1400){
        max-width: clamp(9.375rem, 2.5665rem + 10.6383vw, 11.875rem);
    }
 }
}
.wp-block-group.menu-container{
    max-width:min(1680px,calc(100% - 5rem)) !important;
    @include m(600){
        max-width:calc(100% - 1rem) !important;
 
    }
    margin: 0 auto !important;
    border-radius: 100px;;
    padding:.5rem 1.5rem .5rem .75rem !important;     
    @include m($menu-mobile-breakpoint){
     //   padding:.5rem .5rem!important;   
     display:grid;  
     grid-template-columns: 7.5rem 1fr 2.5rem;
     gap:.25rem;

     >*{
        &:nth-child(1){
            grid-row: 1;
            grid-column: 1;
        }
        &:nth-child(2){
            grid-column: 3;
              grid-row: 1;
                 align-items: center;
              justify-content: flex-end;
        }
        &:nth-child(3){
            grid-column: 2;
              grid-row: 1;
              align-items: center;
              justify-content: flex-end;
        }
     }

    }
}


.section-wide-grid{

    --section-wide-grid-padding: clamp(1.5rem, -9.3rem + 19.2vw, 7.5rem);
    display: grid;
    grid-template-rows: auto;
    max-width: 1920px;
    column-gap:0 !important;
    row-gap:0 !important;
    margin: 0 auto;
    grid-template-columns: 
        var(--section-wide-grid-padding)
        1fr
        var(--section-wide-grid-padding) !important;
    
    >*{

        grid-column: 2;
    }
    >.alignfull{
        grid-column: 1 / -1;
    }
    
}

.section-grid{
grid-template-rows: auto;
    --section-wide-grid-padding: clamp(1.5rem, -9.3rem + 19.2vw, 7.5rem);
    display: grid;
    max-width: 1920px;
    column-gap:0;
    margin: 0 auto;
    grid-template-columns: 
        var(--section-wide-grid-padding)
        var(--section-wide-grid-padding)
        1fr
        var(--section-wide-grid-padding)
        var(--section-wide-grid-padding) !important;
    
    >*{
        grid-column: 3;
    }
      >.alignwide{
        grid-column: 2 / 5;
    }
    >.alignfull{
        grid-column: 1 / -1;
    }
    
}


.galerie-polaroid{
 gap:0 !important;

&.wp-block-gallery.wp-block-gallery-4{
    figure.wp-block-image:not(#individual-image) {
        width: calc(25% - var(--wp--style--unstable-gallery-gap, 16px) * .75);
          @include m(600){
              width: calc(23% - var(--wp--style--unstable-gallery-gap, 16px) * .75);
          }
    }
}



   >figure{
    position: relative;
     @include m(600){
           border: .25rem solid white;
       &:nth-of-type(1){
        transform: rotate(4deg) translateX(2vw);
       }
       &:nth-of-type(2){
        transform: rotate(-3deg)   translateX(1vw);;
       }
       &:nth-of-type(3){
        transform: rotate(4deg)   translateX(-1vw);
       }
       &:nth-of-type(4){
        transform: rotate(-3deg) translateX(-2vw);
       }
     }
     @include p(600){
    &:hover{
        z-index: 10;
        transition:all 1s;
        transform: rotate(2deg) !important;
    }
    
        border: .75rem solid white;
        
       &:nth-of-type(1){
        transform: rotate(7.024deg) translateX(5rem);
       }
       &:nth-of-type(2){
        transform: rotate(-2.996deg)   translateX(3.5rem);;
       }
       &:nth-of-type(3){
        transform: rotate(8.471deg)   translateX(-3.5rem);
       }
       &:nth-of-type(4){
        transform: rotate(-6.963deg) translateX(-5rem);
       }
    }
}
}



.grid-404{
    >*{
        grid-row: 1;
        grid-column: 1 ;
        vertical-align: center;
        justify-content: center;
       margin: auto;
    }
    figure{
        mix-blend-mode: darken;
    }
}

// .wp-block-group:has(>.is-style-panneau){
//     position: relative;
//     >.is-style-panneau{
//         white-space: nowrap;
//         position: absolute;
//         top: 0;
//         left: 50%;
//         transform: translateX(-50%) translateY(-50%);
//     }
// }
.grid-1-1-container{
display:grid;
  grid-template: 1fr / 1fr;
  .grid-1-1-container__content,
  .grid-1-1-container__images {
    grid-column: 1;
    grid-row: 1;
    position: relative;
  }
}

.grid-1-1-container__images{
  grid-template: repeat(3, 1fr) / repeat(9, 1fr) !important;
    align-items: center;
    justify-content: center;
    gap:0;
figure:nth-of-type(2) {
  grid-column: 8; // au lieu de -1
}
figure:nth-of-type(3) {
  grid-column: 9; // au lieu de -1
  grid-row: 2;
}
figure:nth-of-type(4) {
  grid-column: 2;
  grid-row: 3;
}
figure:nth-of-type(5) {
  grid-column: 8; // au lieu de -2
  grid-row: 3;
}


}

.is-style-picto  .wp-block-post-terms__separator{
    display:none;
}


.bento-information__row,
.section-bento-2cols__row,
.section-bento-6-3-2__items {
    @include m(500) {
        grid-template-columns: repeat(1, 1fr) !important;
        gap: .75rem;
        & > div {
            grid-column: unset;
        }
    }
    
    @include b(500, 1200) {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 1.5rem;
        
        & > div {
            grid-column: unset;
        }
        
        & > div:nth-child(3):last-child {
            grid-column: span 2;
        }
    }
}


.wp-block-up-cb-carousel{
    .upcb-button-next,.upcb-button-prev{
        padding: 0.5em;
        aspect-ratio: 1/1;
        display:inliine-flex;
        justify-content:center;
        align-items:center;
          background: var(--wp--preset--color--contrast);
        border-radius:100%;
        width:auto;
        height: 40px;
        color:white;
        &:hover{
            background:var(--wp--preset--color--base-2)
        }
    }
}
.upcb-carousel-block .upcb-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--wp--preset--color--base);
}

.grid-footer-logo{
        @include m(600){
  display:flex;
  flex-wrap:wrap;
  max-width:600px !important;
    grid-template-columns: repeat(3,1fr);
    >div{

                        &:nth-of-type(3){
                    order:-1;
                    }

            }
        }
        img{
            width: 100%;
        }
}
.footer-section-column__items{
          @include m(768){
            display:grid !important;
              grid-template-columns: 1fr 1fr;
              > div{
                .footer-section-logo{
                    max-width: 100px;
                    margin-top: 2rem;
                }
                &:nth-of-type(1){
                  grid-column: 1 / 3;
                }
                   &:nth-of-type(2){
                  grid-column: 1 / 3;
                }
                   &:nth-of-type(3){
                  grid-column: 1 / 3;
          
                }
              }
          }
}

.section-footer__column{
    &__items{
        
        @include m(600){
            padding-top:2.5rem;
            row-gap:2.5rem;
            column-gap: 0rem;
            display:grid !important;
            grid-template-columns: 1fr 1fr;
        }
    }
    &__item{
        @include m(600){
            grid-column: span 2;
        }
    }
}

// .section-banner-with-images{
//        @include m(600){
//     padding-top: 7.5rem !important;
//        }
// }