.is-style-menu{
    
}
.wp-block-navigation-submenu .wp-block-navigation__submenu-icon{
    margin-left: 0.5rem !important;
    svg{
        stroke: none !important;
        position:relative;
        z-index: 10;
    }
}
