/* Menu desktop (non burger) */
.wp-block-navigation .wp-block-navigation__responsive-container {


}
 header .wp-block-navigation{
      //1680 : 2.5rem 1280: 1rem
      column-gap : clamp(1rem, -3.2273rem + 5.4545vw, 2.5rem);
  }

html:not(.has-modal-open) {
  .upmma-toggle{
    display:inline-flex;
    position: relative;
    z-index: 10;
    padding:0;
   svg{
    fill:var(--wp--preset--color--contrast) !important;
    margin-left:.5rem;
    margin-right: .25rem;
   }
  }
    .wp-block-navigation .has-child .wp-block-navigation-submenu__toggle[aria-expanded=true]~.wp-block-navigation__submenu-container, 
    .wp-block-navigation .has-child:not(.open-on-click):hover>.wp-block-navigation__submenu-container, 

    .wp-block-navigation .has-child:not(.open-on-click):not(.open-on-hover-click):focus-within>.wp-block-navigation__submenu-container{

        //   z-index: 10;
        background:var(--wp--preset--color--base);
        border-bottom-right-radius: .5rem;
        border-bottom-left-radius: .5rem;
        min-width: auto !important;
        white-space: nowrap;
        //   background:red ;
        margin-left:-1.25rem;
        margin-right: -1.25rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        width: auto;
        min-width:var(--parent-width) !important;
        //  width: calc(100% + 2.5rem);
        &:before{
          content:"";
          position: absolute;
          top: 0;
          left:0;
          right: 0;
          height:2.5rem;
          transform: translateY(-100%);
          background: var(--wp--preset--color--base);
          border-top-right-radius: .5rem;
        border-top-left-radius: .5rem;
        }
    }
    .wp-block-navigation-item.has-child:hover  {
      background:white;
      >.wp-block-navigation-item__content{
        position: relative;
        z-index:100;
        padding: 0 !important;
      }
      &::after{
        content:"";
        position: absolute;
        bottom: 0;
        left: 0;
      width: 100%;

      }

    }
    .wp-block-navigation-item.has-child:hover .wp-block-navigation__submenu-container {
      border:none;
    }
      .wp-block-navigation-item.has-child:hover .wp-block-navigation__submenu-container .wp-block-navigation-item__content{
        padding: 6px 0 !important;
      }
  }