// Généré automatiquement depuis le theme.json

.has-radius-s {
  border-radius: var(--wp--preset--border-radius--s);
}

.has-img-radius-s img {
  border-radius: var(--wp--preset--border-radius--s);
}

.has-radius-m {
  border-radius: var(--wp--preset--border-radius--m);
}

.has-img-radius-m img {
  border-radius: var(--wp--preset--border-radius--m);
}

.has-radius-l {
  border-radius: var(--wp--preset--border-radius--l);
}

.has-img-radius-l img {
  border-radius: var(--wp--preset--border-radius--l);
}

.has-radius-xl {
  border-radius: var(--wp--preset--border-radius--xl);
}

.has-img-radius-xl img {
  border-radius: var(--wp--preset--border-radius--xl);
}

.has-radius-2xl {
  border-radius: var(--wp--preset--border-radius--2xl);
}

.has-img-radius-2xl img {
  border-radius: var(--wp--preset--border-radius--2xl);
}

.has-radius-full {
  border-radius: var(--wp--preset--border-radius--full);
}

.has-img-radius-full img {
  border-radius: var(--wp--preset--border-radius--full);
}

.has-radius-rounded {
  border-radius: var(--wp--preset--border-radius--rounded);
}

.has-img-radius-rounded img {
  border-radius: var(--wp--preset--border-radius--rounded);
}
