$aspect-ratios: (
  "1-1":  1,
  "4-3":  4 / 3,
  "3-2":  3 / 2,
  "16-9": 16 / 9,
  "21-9": 21 / 9,
  "9-16": 9 / 16,
  "2-3":  2 / 3,
  "3-4":  3 / 4,
  "2-1":  2 / 1,
  "1-2":  1 / 2
);

@each $name, $ratio in $aspect-ratios {
  .has-aspect-ratio-#{$name} {
    aspect-ratio: #{$ratio} !important;
        img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}