@use '../index' as *;
.overflow-clip{
    overflow: clip;
}
.height-full{
    height: 100%;
}
.nowrap{
    white-space: nowrap;
}
 :where(.wp-site-blocks) > * {
     margin-block-start: 0 !important;
     margin-block-end: 0 !important;
 }
header.fixed{
    position: fixed;
    top: calc(2.5rem + var(--decalage-top,0px));
    @include m(600){
       top: calc(1rem + var(--decalage-top,0px));
    }
    left: 0;
    right: 0;
    z-index: 1000;
}
.only-desktop{
    @include m($breakpoint-mobitab){
        display: none !important;
    }
}
.only-mobile{
    @include p($breakpoint-mobile){
        display: none !important;
    }
}
.only-mobitab{
    @include p($breakpoint-mobitab){
        display: none !important;
    }
}
.overflow-visible{
    overflow: visible !important;
    .swiper{
        overflow: visible !important;
    }
}
.overflow-hidden{
    overflow: hidden !important;

}
.overflow-x-hidden{
    overflow-x: clip !important;

}

.flex-1{
    flex: 1;
}
.bg-white{
    background: white;
}
.bg-trip{
background:#34E0A1;
}

.grid-2colmns-mobile{
    display: grid;
    @include m(600){
        grid-template-columns: 1fr 1fr;
    }
}
.min-h-50svh{
min-height: 50svh !important;
}
.min-h-100svh{
min-height: calc(100svh - var(--decalage-top,0)) !important;
}
body.admin-bar{
    .min-h-100svh{
        min-height: calc(100svh - var(--decalage-top,0) - 32px) !important;
    }
}
.mobile-wrap{
    text-wrap: wrap !important;
}

.with-download-picto a{
       text-decoration: none;
       &:hover{
        color: var(--wp--preset--color--contrast);
       }
    &:after{

        content:"";
        display: inline-block;
        height:1.1em;
        width: 1.1em;
        margin-left: 0.5rem;
        background-size: contain;
        background-image: url(assets/images/pictos/dowload.svg);
    }
}

.txt-one-line{
white-space: nowrap;

}
.with-chevron a{
     display:inline-flex;
             align-items:center;   
       &:after{

        content:"";
        display: inline-flex;
      
        height:1em;
        width: 1.1em;
        margin-left: 0.5rem;
        background-size: contain;
        background-image:  url(assets/images/pictos/chevron-next.svg);
        background-repeat: no-repeat;
        background-position: bottom;
    } 
}