<!-- wp:template-part {"slug":"header","className":"fixed"} /-->
<!-- wp:group {"tagName":"main"} -->
    <main class="wp-block-group">
         <!-- wp:pattern {"slug":"ng1-base/modele-page-texte"} /-->
         
    <!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|16","left":"var:preset|spacing|16"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--16);padding-left:var(--wp--preset--spacing--16)"><!-- wp:post-content {"className":"main-area","style":{"spacing":{"blockGap":"var:preset|spacing|3","padding":{"right":"var:preset|spacing|16","left":"var:preset|spacing|16"}}},"layout":{"type":"default"}} /--></div>
<!-- /wp:group -->
    
        </main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer"} /-->