/** changement du breakpoint du menu */
@media (max-width: 1200px) {
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: flex;
  }
}
@media (max-width: 1200px) {
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
}
.wp-block-navigation-submenu .wp-block-navigation__submenu-icon {
  margin-left: 0.5rem !important;
}
.wp-block-navigation-submenu .wp-block-navigation__submenu-icon svg {
  stroke: none !important;
  position: relative;
  z-index: 10;
}

/* Menu desktop (non burger) */
header .wp-block-navigation {
  -moz-column-gap: clamp(1rem, -3.2273rem + 5.4545vw, 2.5rem);
       column-gap: clamp(1rem, -3.2273rem + 5.4545vw, 2.5rem);
}

html:not(.has-modal-open) .wp-block-navigation .has-child .wp-block-navigation-submenu__toggle[aria-expanded=true] ~ .wp-block-navigation__submenu-container,
html:not(.has-modal-open) .wp-block-navigation .has-child:not(.open-on-click):hover > .wp-block-navigation__submenu-container,
html:not(.has-modal-open) .wp-block-navigation .has-child:not(.open-on-click):not(.open-on-hover-click):focus-within > .wp-block-navigation__submenu-container {
  background: var(--wp--preset--color--base);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  min-width: auto !important;
  white-space: nowrap;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: auto;
  min-width: var(--parent-width) !important;
}
html:not(.has-modal-open) .wp-block-navigation .has-child .wp-block-navigation-submenu__toggle[aria-expanded=true] ~ .wp-block-navigation__submenu-container:before,
html:not(.has-modal-open) .wp-block-navigation .has-child:not(.open-on-click):hover > .wp-block-navigation__submenu-container:before,
html:not(.has-modal-open) .wp-block-navigation .has-child:not(.open-on-click):not(.open-on-hover-click):focus-within > .wp-block-navigation__submenu-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2rem;
  transform: translateY(-100%);
  background: var(--wp--preset--color--base);
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
html:not(.has-modal-open) .wp-block-navigation-item.has-child:hover {
  background: white;
}
html:not(.has-modal-open) .wp-block-navigation-item.has-child:hover > .wp-block-navigation-item__content {
  position: relative;
  z-index: 100;
  padding: 0 !important;
}
html:not(.has-modal-open) .wp-block-navigation-item.has-child:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
html:not(.has-modal-open) .wp-block-navigation-item.has-child:hover .wp-block-navigation__submenu-container {
  border: none;
}
html:not(.has-modal-open) .wp-block-navigation-item.has-child:hover .wp-block-navigation__submenu-container .wp-block-navigation-item__content {
  padding: 6px 0 !important;
}

/* Menu mobile (burger actif) */
.wp-block-navigation.is-responsive .wp-block-navigation__responsive-container-open {
  /* styles mobile */
}

.has-modal-open .wp-block-navigation__responsive-container-close {
  right: 2rem !important;
  top: 2rem;
  color: white;
}
.has-modal-open .wp-block-navigation__responsive-container-content {
  background: var(--wp--preset--color--contrast) !important;
  min-height: 100svh;
}
.has-modal-open .wp-block-navigation__responsive-container-content a {
  color: white !important;
  font-size: 1.2rem;
}
.has-modal-open .wp-block-navigation__container {
  gap: 0.75rem !important;
  width: 100% !important;
  padding: 0 min(7.5rem, 5vw);
}
.has-modal-open .wp-block-navigation__container > li {
  grid-column: 2;
}

.v-card {
  background: transparent !important;
  font-family: inherit !important;
}/*# sourceMappingURL=root-menu.css.map */